{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand fs-5">
                <img src="{% static 'assets/logo.png' %}" alt="Logo" width="60" height="60"
                    class="d-inline-block align-text-center">
                Smouu Planet
            </a>
        </div>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {# --------------------- Seccion navbar para recepcionista -----------------------------#}
                    {% for group in user.groups.all %}
                    {% if group.name == "recepcionista" %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'repair_list' %}">Lista de
                            reparaciones</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Registrar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'read_client' %}">Cliente</a></li>
                            <li><a class="dropdown-item" href="{% url 'read_device' %}">Dispositivo</a></li>
                        </ul>
                    </li>

                    {% endif %}
                    {% endfor %}
                    {# ------------------------------------------------------------------------------------------ #}


                    {# ------------------------- Seccion navbar supervisor -------------------------------------- #}
                    {% for group in user.groups.all %}
                    {% if group.name == "supervisor" %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{% url 'panel_supervisor' %}">Reparaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'inventario' %}">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'reportes' %}">Reportes</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {# ------------------------------------------------------------------------------------------ #}


                    {# --------------------------- Seccion navbar tecnico --------------------------------------- #}
                    {% for group in user.groups.all %}
                    {% if group.name == "tecnico" %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'panel_tecnico' %}">Inicio</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {# ------------------------------------------------------------------------------------------ #}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>